<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.htdwps.grateful"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/bean"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/bean"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ListActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SubmitActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".SubmitActivityV2"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".QuoteActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PersonalPostsGridActivity"
            android:parentActivityName=".ListActivity">
        </activity>
        <activity
            android:name=".PrivacyTermsActivity"
            android:parentActivityName=".MainWindowActivity">
        </activity>
        <activity android:name=".FirebaseUiAuthActivity">
        </activity>
        <activity
            android:name=".SubmitBeanActivity"
            android:parentActivityName=".MainWindowActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainWindowActivity"/>
        </activity>
        <activity
            android:name=".MainWindowActivity"
            android:label="@string/title_activity_main_window">
        </activity>
        <activity
            android:name=".TagPostActivity"
            android:parentActivityName=".MainWindowActivity">
        </activity>
        <activity android:name=".BeanCommentActivity">
        </activity>
    </application>

</manifest>